body {
	background-color: black;
	font-family: "Courier New";
	text-transform: uppercase;
	color: #444;
	height: 100vh;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.image {
	margin-top: -1em;
	height: 85%;
    width: 90%;
    max-width: 1000px; 
    object-fit: contain;
}

.image p {
	height: calc(100% - 120px);
}

.image img {
    height: 100%;
    width: 100%; 
    object-fit: contain;
}

.caption {
	font-size: 16px;
	margin-top: 1em;
	text-align: center;
}

.controls {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	font-size: 16px;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted #888;
	margin-bottom: -1px;
}

.copyright {
	font-size: 10px;
	color: #222;
	text-align: center;
	margin-top: 3em;
}

.copyright a {
	color: #444;
}